In [2]:
import pandas as pd
import numpy as np  
import seaborn as sns

In [4]:
# Importing the data / Leitura dos dados

url_trending_by_time_log = 'https://raw.githubusercontent.com/RafaelGenari/Bootcamp_Project_Advertising_Agency/refs/heads/main/trending_by_time.csv'

trending_by_time_log = pd.read_csv(url_trending_by_time_log, sep = ',')

In [5]:
trending_by_time_log.head()

,record_id,region,trending_date,category_title,videos_count
0,1,France,2017-11-14 00:00:00.000000,Autos & Vehicles,8
1,2,France,2017-11-15 00:00:00.000000,Autos & Vehicles,2
2,3,France,2017-11-16 00:00:00.000000,Autos & Vehicles,6
3,4,France,2017-11-17 00:00:00.000000,Autos & Vehicles,8
4,5,France,2017-11-18 00:00:00.000000,Autos & Vehicles,4

In [6]:
trending_by_time_log.describe()

          record_id  videos_count
count  12343.000000  12343.000000
mean    6172.000000     27.545167
std     3563.261521     29.793491
min        1.000000      2.000000
25%     3086.500000      8.000000
50%     6172.000000     18.000000
75%     9257.500000     36.000000
max    12343.000000    220.000000

In [7]:
trending_by_time_log.isnull().sum()

record_id         0
region            0
trending_date     0
category_title    0
videos_count      0
dtype: int64